footer{
    display: flex;
    background-color: #255;
    padding: 1rem;
    font-family: 'Dosis';
    justify-content: center;
}

section{
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
    border-bottom: white;
    padding-bottom: 4px;
    margin-bottom: 4px;
    font-size: large;
    letter-spacing: 2px;
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: small;
}
a:hover{
    border-bottom: 1px solid white;
    margin-bottom: 3px;
}


